<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="儒艺教育 艺术考前 集训 少儿美术 出国留学 央美师资美术培训" th:content="${keywords}">
    <meta name="description" content="" th:content="${description}"><meta name="viewport" content="width=device-width, initial-scale=0,user-scalable=yes,maximum-scale=1.0">
    <title>出国留学</title>
    <link rel="stylesheet" type="text/css" href="swiper/swiper.min.css">
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" type="text/css" href="css/common.css"><link rel="stylesheet" type="text/css" href="css/quill.snow.css">
    <link rel="stylesheet" type="text/css" href="css/quill.snow.css">
</head>

<body class="bg">

<!--header start-->
<div class="m-header ">
    <div class="inner clearfix">
        <a href="#" class="logo">
            <img src="img/logo.png" th:src="${logo}"/>
        </a>
        <div class="tip-message" th:utext="${slogan}">您与名校只差一个选择</div>
    </div>
</div>
<div class="m-nav ">
    <div class="inner clearfix">
        <div class="nav-box clearfix">
            <a href="index.html">首页</a>
            <a href="about.html">关于我们</a>
            <a href="notice.html">通知公告</a>
            <a href="meishu.html">少儿美术</a>
            <a href="yikao.html">统招艺考</a>
            <a href="liuxue.html" class="active">出国留学</a>
            <a href="taoci.html">陶瓷艺术</a>
            <a href="signup.html">在线报名</a>
            <a href="contact.html">联系我们</a>
        </div>
        <div class="h_tell" th:utext="${contact}">400-9973-993</div>
    </div>
</div>
<!--header end-->

<!--标题banner 与 位置 start-->
<div class="bannerTitle" style="background:url(img/img8.png) no-repeat top center; background-size:auto 100%"
     th:style="|background:url(${cover}) no-repeat top center; background-size:auto 100%|">
    <div class="main">
        出国留学<br>
        STUDY ABROAD
    </div>
</div>
<div class="wei">
    <div class="main">
        <span class="left"><a href="index.html">首页</a> / 出国留学</span>
    </div>
</div>
<!--标题banner 与 位置 end-->

<!--主体内容 start-->
<div class="list_one">
    <ul>
        <li>
            <img src="img/009.png" class="img" th:src="${introCover}">
            <div class="name">
                <h2>留学介绍</h2>
                <h3>STUDY ABROAD INTRODUCTION</h3>
            </div>
            <div class="desc" th:utext="${introDesc}">
                学费全免+保送+全套手续+食宿本科+硕士+博士<br>
                佛罗伦萨美术学院、那不勒斯美术学院、都灵美术学院、佛罗西洛内美术学院、巴勒莫美术学院、洛伦佐.达.维泰博美术学院、维利诺音乐学院、普切尼音乐学院、波坦察音乐学院、萨莱诺音乐学院、米兰阿巴多音乐学院、那不勒斯音乐学院、贝宁卡萨大学、米兰理工大学、都灵理工大学、博洛尼亚大学、罗马一大、CEDEU中西双语、拉萨曼卡大学、圣地亚哥大学、EAE商学院、胡安卡洛斯国王大学、罗马国家舞蹈学院、意大利国家舞蹈学院、都灵阿尔贝缇娜美术学院、万神殿学院设计与科技…等
            </div>
        </li>
    </ul>
</div>

<!--合作单位-->
<div class="main">
    <div class="top_title">
        合作单位+名校保送
        <a href="liuxueHeZuo.html">更多></a>
    </div>
    <div class="tc_two">
        <img src="img/p-1.png" th:each="item:${partner}" th:src="${item}">
        <!--<img src="img/p-2.png">
        <img src="img/p-3.png">
        <img src="img/p-4.png">
        <img src="img/p-5.png">
        <img src="img/p-6.png">
        <img src="img/p-7.png">
        <img src="img/p-8.png">
        <img src="img/p-9.png">
        <img src="img/p-10.png">-->
    </div>
</div>

<!--招生类别-->
<div class="main">
    <div class="top_title">
        招生类别
        <!--<a href="#">更多></a>-->
    </div>
    <div class="liu_one">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" th:each="item: ${recruitStudentTypes}">
                    <h3 style="background:#FF3F25" th:text="${item.name}" th:style="|background:${item.background}|">
                        美术生
                    </h3>
                    <div class="desc" th:text="${item.remark}">
                        高考成绩合格后，直接申请该学，在国内读半年预科再到国外该校读半年预科后，考试拿录取通知书，开学直接就读大一。
                    </div>
                </div>
            </div>
            <!-- Add Arrows -->

            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>


    </div>
</div>
<!--学校展示-->
<div class="main">
    <div class="top_title">
        学校展示
        <a href="liuxueXueXiao.html">更多></a>
    </div>
    <ul class="ms_four liu_two">
        <li class="li right" th:each="item:${article3s}" th:class="${itemStat.index%10==0}?'right'"
            th:classappend="${itemStat.index%5==0}?'li'" th:if="${itemStat.index<5}">
            <div class="pimg">
                <img src="img/003.png" th:src="${item.cover}">
                <div class="desc" th:utext="${item.title}">大连东软信息学院</div>
            </div>
        </li>
        <!--<li>
            <div class="pimg">
                <img src="img/003.png">
                <div class="desc">大连东软信息学院</div>
            </div>
        </li>
        <li>
            <div class="pimg">
                <img src="img/003.png">
                <div class="desc">大连东软信息学院</div>
            </div>
        </li>
        <li>
            <div class="pimg">
                <img src="img/003.png">
                <div class="desc">大连东软信息学院</div>
            </div>
        </li>
        <li>
            <div class="pimg">
                <img src="img/003.png">
                <div class="desc">大连东软信息学院</div>
            </div>
        </li>-->
    </ul>
</div>

<!--教学环境-->
<div class="main">
    <div class="top_title">
        教学环境
        <a href="liuxueHuanJing.html">更多></a>
    </div>
    <ul class="ms_four">
        <li class="li" th:each="item:${teachEnv}" th:class="${itemStat.first}?'li'">
            <img src="img/003.png" th:src="${item}">
        </li>
        <!--<li>
            <img src="img/003.png">
        </li>
        <li>
            <img src="img/003.png">
        </li>
        <li>
            <img src="img/003.png">
        </li>
        <li>
            <img src="img/003.png">
        </li>-->
    </ul>
</div>

<!--食宿环境-->
<div class="main">
    <div class="top_title">
        食宿环境
        <a href="liuxueShiSu.html">更多></a>
    </div>
    <ul class="ms_four">
        <li class="li right" th:each="item:${roomEnv}" th:class="${itemStat.index%10==0}?'right'"
            th:classappend="${itemStat.index%5==0}?'li'">
            <img src="img/003.png" th:src="${item}">
        </li>
        <!--<li>
            <img src="img/003.png">
        </li>
        <li>
            <img src="img/003.png">
        </li>
        <li>
            <img src="img/003.png">
        </li>
        <li>
            <img src="img/003.png">
        </li>-->
    </ul>
</div>

<!--学员风采-->
<div class="main">
    <div class="top_title">
        学员风采
    </div>
    <div class="ms_three">
        <div class="item">
            <ul id="ms_three" class="content-slider">
                <li th:each="item:${studentStyle}"><img src="img/004.jpg" th:src="${item}"></li>
                <!--<li><img src="img/004.jpg"></li>
                <li><img src="img/004.jpg"></li>
                <li><img src="img/004.jpg"></li>
                <li><img src="img/004.jpg"></li>
                <li><img src="img/004.jpg"></li>-->
            </ul>
        </div>
    </div>
</div>

<!--成功案例-->
<div class="main">
    <div class="top_title">
        成功案例
        <a href="liuxueAnLi.html">更多></a>
    </div>
    <ul class="liu_three">
        <li th:each="item:${articles}">
            <a href="liuxueAnLiDetails.html" th:href="|liuxueAnLiDetails.html?id=${item.id}|">
                <div class="left">
                    <p class="pimg"><img src="img/003.png" class="img" th:src="${item.coverUrl}"></p>
                </div>
                <div class="right">
                    <div class="top" th:utext="${item.title}">案例一</div>
                    <div class="desc" th:utext="${item.intro}">
                        各省、自治区、直辖市人民政府，国务院各部委、各直属机构近年来，我国农业结构不断优化，区域布局趋于合理，粮食生产连年丰收，有力保障了国家粮食安全，为稳定经济社会发展大局提供坚实支撑。与此同时，部分地区也出现耕地“非粮化”倾向，一些地方把农业结构调整简单理解为压减粮食生产，一些经营主体违规在永久基本农田上种树挖塘，一些工商资本大规模流转耕地改种非粮作物等，这些问题如果任其发展，将影响国家粮食安全。各地区各部门要坚持以习近平新时代中国特色社会主义思想为指导，增强“四个意识”、坚定“四个自信”、做到“两个维护”，认真落实党中央、国务院决策部署，采取有力举措防止耕地“非粮化”，切实稳定粮食生产线经国务...同意，现提出以下意见。随着我国人口增长、消费结构不断升级和资源环境承载能力趋紧，粮食产需仍将维持紧平衡态势。新冠肺炎疫情全球大流行，国际农产品市场供给不确定性增加，必须以稳定国内粮食生产来应对国际形...
                    </div>
                </div>
            </a>
        </li>
        <!--<li>
            <a href="liuxueAnLiDetails.html">
                <div class="left">
                    <p class="pimg"><img src="img/003.png" class="img"></p>
                </div>
                <div class="right">
                    <div class="top">案例一</div>
                    <div class="desc">
                        各省、自治区、直辖市人民政府，国务院各部委、各直属机构近年来，我国农业结构不断优化，区域布局趋于合理，粮食生产连年丰收，有力保障了国家粮食安全，为稳定经济社会发展大局提供坚实支撑。与此同时，部分地区也出现耕地“非粮化”倾向，一些地方把农业结构调整简单理解为压减粮食生产，一些经营主体违规在永久基本农田上种树挖塘，一些工商资本大规模流转耕地改种非粮作物等，这些问题如果任其发展，将影响国家粮食安全。各地区各部门要坚持以习近平新时代中国特色社会主义思想为指导，增强“四个意识”、坚定“四个自信”、做到“两个维护”，认真落实党中央、国务院决策部署，采取有力举措防止耕地“非粮化”，切实稳定粮食生产线经国务...同意，现提出以下意见。随着我国人口增长、消费结构不断升级和资源环境承载能力趋紧，粮食产需仍将维持紧平衡态势。新冠肺炎疫情全球大流行，国际农产品市场供给不确定性增加，必须以稳定国内粮食生产来应对国际形...
                    </div>
                </div>
            </a>
        </li>-->
    </ul>
</div>

<!--主体内容 end-->

<!--footer start-->
<div class="m-footer">
    <div class="sign-up">
        <div class="sign-up-form clearfix">
            <div class="item-box clearfix">
                <label class="icon-username"></label>
                <input type="text" class="text-input" placeholder="请输入姓名"/>
            </div>
            <div class="item-box clearfix">
                <label class="icon-phone"></label>
                <input type="text" class="text-input" placeholder="请输入手机号"/>
            </div>
            <div class="submit-bnt">在线报名</div>
        </div>
    </div>
    <div class="footer-box ">
        <div class="inner clearfix">
            <div class="f-box-1 left">
                <div class="f-title">客服热线</div>
                <div class="phone-box" th:utext="${contact}">400-9973-993</div>
                <div class="phone-time" th:utext="${workTime}">周一至每周日08:30-22:30</div>
            </div>
            <div class="f-box-2 left">
                <div class="f-title">关于儒艺</div>
                <div class="f-nav">
                    <a href="about.html">关于我们</a>
                    <a href="meishu.html">少儿美术</a>
                    <a href="index.html#f1">关于儒艺</a>
                    <a href="yikao.html">统招艺考</a>
                    <a href="index.html#f2">儒艺优势</a>
                    <a href="liuxue.html">出国留学</a>
                    <a href="index.html#f3">儒艺战绩</a>
                    <a href="yikao.html">陶瓷艺术</a>
                    <a href="index.html#f4">儒艺名师</a>
                </div>
            </div>
            <div class="f-box-3 left">
                <div class="f-title">联系我们</div>
                <div class="address-box">
                    <p>儒艺教育 北京校区</p>
                    <p>中学艺考部校区：北京市房山区良乡东路华学书院</p>
                    <p>少儿部上地校区：北京市海淀区厢黄旗东路紫城创业园区A区儒艺教育</p>
                    <p>少儿部大钟寺校区：北京市海淀区大钟寺华杰大厦8A10-1儒艺教育</p>
                    <p>研学部校区：北京市大兴区董陶窑陶瓷技术研究所</p>
                </div>                <div class="wx-box clearfix">
                    <a href="contact.html">
                        <div class="item-box">儒艺教育客服</div>
                    </a>
                    <a href="contact.html">
                        <div class="item-box">专业课老师</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right" th:utext="${copyRight}">版权信息版权信息版权信息版权信息版权信息版权信息</div>
</div>
<!--footer end-->

</body>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script src="swiper/swiper.min.js"></script>

<script src="js/lightslider.js"></script>
<script type="text/javascript">
    $(function () {
        $("#ms_three").lightSlider({
            item: 1,
            slideMove: 1,
            loop: true,
            auto: true,
            mode: 'slide',
            pause: 4000,
            slideMargin: 0
        });
        /*$("#liu_one").lightSlider({item:4,slideMove:1,loop:true,auto:true,mode:'slide',pause:4000,slideMargin:20});*/
    })

    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 4,
        spaceBetween: 30,
        loop: true,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>
<!--提交成功弹框-->
<div class="tan_bm" style="display:none">
    <h2>报名成功</h2>
    <h6>稍后客服将会和您联系</h6>
    <p class="p_btn">
        <input type="button" class="btn quxiao" value="取消">
        <input type="button" class="btn btn_qd" value="确认">
    </p>
</div>
<script src="js/layer/layer.js"></script>
<script type="text/javascript">
    $(function () {
        //弹框
        $(".btn_tj,.submit-bnt").click(function () {
            layer.open({
                type: 1,
                title: false,
                closeBtn: 0,
                area: ['auto', 'auto'],
                shade: [0.6, '#000', false],
                skin: 'layui-layer-nobg', //没有背景色
                shadeClose: false,
                closeBtn: 0,
                content: $(".tan_bm")
            });
            return false;
        })
        $(".quxiao,.btn_qd").click(function () {
            layer.closeAll();
        })
    })
</script>


<script type="text/javascript" src="js/backend/common.js"></script>
<script type="text/javascript" src="js/backend/registration.js"></script>
</html>
