<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"><meta name="keywords" content="儒艺教育 艺术考前 集训 少儿美术 出国留学 央美师资美术培训" th:content="${keywords}"><meta name="description" content="" th:content="${description}">
		<title>在线报名</title>
		<link rel="stylesheet" href="css/base.css" />
        <link rel="stylesheet" type="text/css" href="css/common.css"><link rel="stylesheet" type="text/css" href="css/quill.snow.css">
	</head>

	<body>
    	<!--header start-->
		<div class="m-header ">
			<div class="inner clearfix">
			<a href="#" class="logo">
				<img src="img/logo.png" th:src="${logo}"/>
			</a>
			<div class="tip-message" th:utext="${slogan}">您与名校只差一个选择</div>
			</div>
		</div>
		<div class="m-nav ">
			<div class="inner clearfix">
                <div class="nav-box clearfix">
                    <a href="index.html">首页</a>
                    <a href="about.html">关于我们</a>
                    <a href="notice.html">通知公告</a>
                    <a href="meishu.html">少儿美术</a>
                    <a href="yikao.html">统招艺考</a>
                    <a href="liuxue.html">出国留学</a>
                    <a href="taoci.html">陶瓷艺术</a>
                    <a href="signup.html" class="active">在线报名</a>
                    <a href="contact.html">联系我们</a>
                </div>
				<div class="h_tell" th:utext="${contact}">400-9973-993</div>
			</div>
		</div>
		<!--header end-->

        <!--标题banner 与 位置 start-->
        <div class="bannerTitle" style="background:url(img/img3.png) no-repeat top center; background-size:auto 100%" th:style="|background:url(${cover}) no-repeat top center; background-size:auto 100%|">
        	<div class="main">
            	在线报名<br>
                SIGN UP
            </div>
        </div>
        <div class="wei">
        	<div class="main">
            	<span class="left"><a href="index.html">首页</a> / 在线报名</span>
            </div>
        </div>
        <!--标题banner 与 位置 end-->

        <!--主体内容 start-->
        <div class="main">
        	<div class="bg_white">

                <table class="bm_table">
                	<tr>
                    	<th><span>*</span> 姓名:</th>
                        <td><input type="text" class="txt" placeholder="请输入"></td>
                    </tr>
                	<tr>
                    	<th>年龄:</th>
                        <td><input type="text" class="txt" placeholder="请输入"></td>
                    </tr>
                	<tr>
                    	<th><span>*</span> 手机号:</th>
                        <td><input type="text" class="txt" placeholder="请输入"></td>
                    </tr>
                	<tr>
                    	<th><span>*</span> 报名类型:</th>
                        <td>
                        	<p class="sel_xz">请选择</p>
                            <ul class="div_la">
                            	<li th:each="registration: ${registrationClassGrades}" th:data-registration-id="${registration.id}"><th:block th:text="${registration.name}">少儿美术</th:block><th:block th:if="${registration.children!=null&&#lists.size(registration.children)>0}"><i></i>
                                	<p>
                                    	<span th:each="item: ${registration.children}" th:text="${item.name}" th:data-registration-id="${registration.id}" th:data-classGrade-id="${item.id}">米罗涂鸦班</span>
                                    	<!--<span>毕加索创意班</span>
                                    	<span>达芬奇造型班</span>
                                    	<span>陶瓷艺术创作班</span>
                                    	<span>德加大师班</span>
                                    	<span>美院班</span>
                                    	<span>国画书法班</span>
                                    	<span>高端科目托管班</span>-->
                                    </p></th:block>
                                </li>
                            	<!--<li>统招艺考<i></i>
                                	<p>
                                    	<span>（美术）综合班</span>
                                    	<span>（美术）美院班</span>
                                    	<span>（央清）精品班</span>
                                    	<span>寒暑假班</span>
                                    	<span>（美术）联考班</span>
                                    	<span>名校直通班</span>
                                    </p>
                                </li>
                            	<li>出国留学</li>
                            	<li>陶瓷艺术</li>-->
                            </ul>
                        </td>
                    </tr>
                	<tr>
                    	<th>电子邮箱:</th>
                        <td><input type="text" class="txt" placeholder="请输入"></td>
                    </tr>
                    <tr>
                    	<th></th>
                        <td><input type="button" class="btn btn_tj" value="提交"></td>
                    </tr>
                </table>

            </div>
        </div>
        <!--主体内容 end-->

        <!--footer start-->
		<div class="m-footer">
			<div class="sign-up">
				<div class="sign-up-form clearfix">
					<div class="item-box clearfix">
						<label class="icon-username"></label>
						<input type="text" class="text-input" placeholder="请输入姓名"/>
					</div>
					<div class="item-box clearfix">
						<label class="icon-phone"></label>
						<input type="text" class="text-input" placeholder="请输入手机号"/>
					</div>
					<div class="submit-bnt">在线报名</div>
				</div>
			</div>
			<div class="footer-box ">
				<div class="inner clearfix">
				<div class="f-box-1 left">
					<div class="f-title">客服热线</div>
					<div class="phone-box" th:utext="${contact}">400-9973-993</div>
					<div class="phone-time" th:utext="${workTime}">周一至每周日08:30-22:30</div>
				</div>
				<div class="f-box-2 left">
					<div class="f-title">关于儒艺</div>
					<div class="f-nav">
						<a href="about.html">关于我们</a>
						<a href="meishu.html">少儿美术</a>
						<a href="index.html#f1">关于儒艺</a>
						<a href="yikao.html">统招艺考</a>
						<a href="index.html#f2">儒艺优势</a>
						<a href="liuxue.html">出国留学</a>
						<a href="index.html#f3">儒艺战绩</a>
						<a href="yikao.html">陶瓷艺术</a>
						<a href="index.html#f4">儒艺名师</a>
					</div>
				</div>
				<div class="f-box-3 left">
					<div class="f-title">联系我们</div>
					<div class="address-box">
						<p>主教学区：北京市房山区良乡东路华学书院  （大学城隔壁）</p>
						<p>一校区：北京市海淀区农大南路树村郊野公园16号院 （距离北大、清华、5公里）</p>
						<p>二校区：北京市大兴区芦花路临22号董陶窑陶瓷制作研究所 </p>
					</div>
					<div class="wx-box clearfix">
						<a href="contact.html"><div class="item-box">儒艺教育客服</div></a>
						<a href="contact.html"><div class="item-box">专业课老师</div></a>
					</div>
				</div>
				</div>
			</div>
			<div class="copy-right" th:utext="${copyRight}">版权信息版权信息版权信息版权信息版权信息版权信息</div>
		</div>
        <!--footer end-->

	</body>
	<script type="text/javascript" src="js/jquery.min.js" ></script>
    <!--提交成功弹框-->
    <div class="tan_bm" style="display:none">
        <h2>报名成功</h2>
        <h6>稍后客服将会和您联系</h6>
        <p class="p_btn">
            <input type="button" class="btn quxiao" value="取消">
            <input type="button" class="btn btn_qd" value="确认">
        </p>
    </div>
    <script src="js/layer/layer.js"></script>
    <script type="text/javascript">
    $(function(){
		//弹框
		$(".btn_tj,.submit-bnt").click(function(){
			layer.open({
				type: 1,
				title: false,
				closeBtn: 0,
				area: ['auto', 'auto'],
				shade : [0.6 , '#000' , false],
				skin: 'layui-layer-nobg', //没有背景色
				shadeClose: false,
				closeBtn:0,
				content: $(".tan_bm")
			});
			return false;
		})
		$(".quxiao,.btn_qd").click(function(){
			layer.closeAll();
		})
	})
    </script>
    <script type="text/javascript">
    $(function(){
		$(".sel_xz").click(function(){
			if($(this).attr("class")=="sel_xz")
				$(this).addClass("sel");
			else
				$(this).removeClass("sel");

			$(".div_la").slideToggle();
		})
		$(".div_la li").click(function(){
			$(".div_la li").removeClass("sel");
			$(this).addClass("sel");
			if($(this).find("p").length==1){
				$(".div_la li p").slideUp(50);
				$(this).find("p").slideDown(100);
			}
			else{//data-registration-id="${registration.id}" data-classGrade-id
				$(".div_la li p").slideUp(50);
				$(".sel_xz").html($(this).text()).attr('data-registration-id', $(this).attr('data-registration-id')).attr('data-classGrade-id', $(this).attr('data-classGrade-id'));
				$(".div_la").slideToggle();
				$(".sel_xz").removeClass("sel");
			}
		})
		$(".div_la li p span").click(function(){
			$(".sel_xz").html($(this).text()).attr('data-registration-id', $(this).attr('data-registration-id')).attr('data-classGrade-id', $(this).attr('data-classGrade-id'));
			$(".div_la").slideToggle();
			$(".sel_xz").removeClass("sel");
		})

		$(document).bind("click",function(e){
			var target = $(e.target);
			if(target.closest(".sel_xz,.div_la").length == 0){
				$(".div_la").slideUp();
				$(".sel_xz").removeClass("sel");
			}
	 	})

	})
    </script>

	<script type="text/javascript" src="js/jquery.tmpl.min.js"></script>
	<script type="text/javascript" src="js/backend/common.js" ></script>
	<script type="text/javascript" src="js/backend/registration.js" ></script>
</html>
