<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>统招艺考</title>
		<link rel="stylesheet" href="css/base.css" />
        <link rel="stylesheet" type="text/css" href="css/common.css"><link rel="stylesheet" type="text/css" href="css/quill.snow.css">
	</head>

	<body class="bg">

    	<!--header start-->
		<div class="m-header ">
			<div class="inner clearfix">
			<a href="index.html" class="logo">
				<img src="img/logo.png" th:src="${logo}"/>
			</a>
			<div class="tip-message" th:utext="${slogan}">您与名校只差一个选择</div>
			</div>
		</div>
		<div class="m-nav ">
			<div class="inner clearfix">
                <div class="nav-box clearfix">
                    <a href="index.html">首页</a>
                    <a href="about.html">关于我们</a>
                    <a href="notice.html">通知公告</a>
                    <a href="meishu.html">少儿美术</a>
                    <a href="yikao.html" class="active">统招艺考</a>
                    <a href="liuxue.html">出国留学</a>
                    <a href="taoci.html">陶瓷艺术</a>
                    <a href="signup.html">在线报名</a>
                    <a href="contact.html">联系我们</a>
                </div>
				<div class="h_tell" th:utext="${contact}">400-9973-993</div>
			</div>
		</div>
		<!--header end-->

        <!--标题banner 与 位置 start-->
        <div class="bannerTitle" style="background:url(img/img7.png) no-repeat top center; background-size:auto 100%" th:style="|background:url(${cover}) no-repeat top center; background-size:auto 100%|">
        	<div class="main">
            	统招艺考<br>
                UNIFIED RECRUITMRNT TEST
            </div>
        </div>
        <div class="wei">
        	<div class="main">
            	<span class="left"><a href="index.html">首页</a> / 统招艺考</span>
            </div>
        </div>
        <!--标题banner 与 位置 end-->

        <!--主体内容 start-->
        <div class="list_one">
        	<ul>
            	<li>
                	<img src="img/008.jpg" class="img" th:src="${introCover}">
                    <div class="name">
                    	<h2>艺考介绍</h2>
                        <h3>ART TEST INTRODUCTION</h3>
                    </div>
                    <div class="desc" th:utext="${introDesc}">
                        我校与国内国外高等艺术学院合作，拥有相关教材和教学理念，可针对学校精准教学，考学无忧。<br>
                        学校主要由国外艺术学院教授、中央美术学院教授及老师、中国美术学院、清华美术学院、四川美术学院、鲁迅美术学院组建的师资团队。<br>
                        学院拥有独特的统招艺考政策解析能力，根据学员需求和真实专业水平测评，指导学员专业方向，私人定制人生规划，提高升学率及未来就业。
                    </div>
                </li>
            </ul>
        </div>

        <!--合作单位-->
        <div class="main">
        	<div class="top_title">
            	合作单位
                <!--<a href="#">更多></a>-->
            </div>
            <div class="tc_two">
                <img src="img/p-1.png" th:each="item:${partner}" th:src="${item}">
                <!--<img src="img/p-2.png">
                <img src="img/p-3.png">
                <img src="img/p-4.png">
                <img src="img/p-5.png">
                <img src="img/p-6.png">
                <img src="img/p-7.png">
                <img src="img/p-8.png">
                <img src="img/p-9.png">
                <img src="img/p-10.png">-->
            </div>
        </div>

        <!--班级介绍-->
        <div class="main">
        	<div class="top_title">
            	班级介绍
            </div>
            <ul class="ms_one">
            	<li th:each="item:${classGrades}">
                	<a href="yikaoClassDetails.html" class="a" th:href="|yikaoClassDetails.html?id=${item.id}|">
                    	<img src="img/003.png" th:src="${item.pcPhotoUrl}">
                        <p class="top" th:utext="${item.title}">（美术）综合班</p>
                        <div class="desc" th:utext="${item.intro}">
                        	针对联考及全国综合院校，联考保过二本线以上、一般单招保过。（主修专业：素描、色彩、速写）
                        </div>
                    </a>
                </li>
                <!--<li>
                	<a href="yikaoClassDetails.html" class="a">
                    	<img src="img/003.png">
                        <p class="top">（美术）综合班</p>
                        <div class="desc">
                        	针对联考及全国综合院校，联考保过二本线以上、一般单招保过。（主修专业：素描、色彩、速写）
                        </div>
                    </a>
                </li>
                <li>
                	<a href="yikaoClassDetails.html" class="a">
                    	<img src="img/003.png">
                        <p class="top">（美术）综合班</p>
                        <div class="desc">
                        	针对联考及全国综合院校，联考保过二本线以上、一般单招保过。（主修专业：素描、色彩、速写）
                        </div>
                    </a>
                </li>
                <li>
                	<a href="yikaoClassDetails.html" class="a">
                    	<img src="img/003.png">
                        <p class="top">（美术）综合班</p>
                        <div class="desc">
                        	针对联考及全国综合院校，联考保过二本线以上、一般单招保过。（主修专业：素描、色彩、速写）
                        </div>
                    </a>
                </li>
                <li>
                	<a href="yikaoClassDetails.html" class="a">
                    	<img src="img/003.png">
                        <p class="top">（美术）综合班</p>
                        <div class="desc">
                        	针对联考及全国综合院校，联考保过二本线以上、一般单招保过。（主修专业：素描、色彩、速写）
                        </div>
                    </a>
                </li>
                <li>
                	<a href="yikaoClassDetails.html" class="a">
                    	<img src="img/003.png">
                        <p class="top">（美术）综合班</p>
                        <div class="desc">
                        	针对联考及全国综合院校，联考保过二本线以上、一般单招保过。（主修专业：素描、色彩、速写）
                        </div>
                    </a>
                </li>-->
            </ul>
        </div>

        <!--教学环境-->
        <div class="main">
        	<div class="top_title">
            	校园环境
                <a href="yikaoHuanJing.html">更多></a>
            </div>
            <ul class="ms_four">
            	<li class="li" th:each="item: ${schoolEnv}" th:class="${itemStat.index%10!=0}?'right'" th:classappend="${itemStat.index%5==0}?'li'">
                	<img src="img/003.png" th:src="${item}">
                </li>
            	<!--<li>
                	<img src="img/003.png">
                </li>
            	<li>
                	<img src="img/003.png">
                </li>
            	<li>
                	<img src="img/003.png">
                </li>
            	<li>
                	<img src="img/003.png">
                </li>-->
            </ul>
        </div>

        <!--少儿名师-->
        <div class="main">
        	<div class="top_title">
            	名师风采
                <a href="yikaoMingShi.html">更多></a>
            </div>
            <ul class="ms_two">
            	<li th:each="item:${teachers}">
                	<a href="yikaoMingShi.html" th:href="|yikaoMingShi.html?id=${item.id}|"><img src="img/thumb.png" th:src="${item.pcPhotoUrl}"></a>
                	<p class="name" th:utext="${item.name}">李刚</p>
                    <p class="desc" th:utext="${item.intro}">儒艺教育总校长</p>
                </li>
                <!--<li>
                	<a href="yikaoMingShi.html"><img src="img/thumb.png"></a>
                	<p class="name">李刚</p>
                    <p class="desc">儒艺教育总校长</p>
                </li>
                <li>
                	<a href="yikaoMingShi.html"><img src="img/thumb.png"></a>
                	<p class="name">李刚</p>
                    <p class="desc">儒艺教育总校长</p>
                </li>
                <li>
                	<a href="yikaoMingShi.html"><img src="img/thumb.png"></a>
                	<p class="name">李刚</p>
                    <p class="desc">儒艺教育总校长</p>
                </li>
                <li>
                	<a href="yikaoMingShi.html"><img src="img/thumb.png"></a>
                	<p class="name">李刚</p>
                    <p class="desc">儒艺教育总校长</p>
                </li>-->
            </ul>
        </div>

        <!--学员风采-->
        <div class="main">
        	<div class="top_title">
            	学员风采
            </div>
            <div class="ms_three">
                <div class="item">
                    <ul id="ms_three" class="content-slider">
                        <li th:each="item:${studentStyle}"><img src="img/004.jpg" th:src="${item}"></li>
                        <!--<li><img src="img/004.jpg"></li>
                        <li><img src="img/004.jpg"></li>
                        <li><img src="img/004.jpg"></li>
                        <li><img src="img/004.jpg"></li>
                        <li><img src="img/004.jpg"></li>-->
                    </ul>
                </div>
            </div>
        </div>

        <!--优秀作品-->
        <div class="main">
        	<div class="top_title">
            	优秀作品
                <a href="yikaoZuoPin.html">更多></a>
            </div>
            <ul class="ms_four">
            	<li class="li right" th:each="item:${work}" th:class="${itemStat.index%10==0}?'right'" th:classappend="${itemStat.index%5==0}?'li'">
                	<img src="img/003.png" th:src="${item}">
                </li>
            	<!--<li>
                	<img src="img/003.png">
                </li>
            	<li>
                	<img src="img/003.png">
                </li>
            	<li>
                	<img src="img/003.png">
                </li>
            	<li>
                	<img src="img/003.png">
                </li>-->
            </ul>
        </div>

        <!--儒艺战绩-->
        <div class="main">
        	<div class="top_title">
            	儒艺战绩
            </div>
            <div class="ms_three">
                <img src="img/005.jpg" th:src="${result}">
            </div>
        </div>

        <!--主体内容 end-->

        <!--footer start-->
		<div class="m-footer">
			<div class="sign-up">
				<div class="sign-up-form clearfix">
					<div class="item-box clearfix">
						<label class="icon-username"></label>
						<input type="text" class="text-input" placeholder="请输入姓名"/>
					</div>
					<div class="item-box clearfix">
						<label class="icon-phone"></label>
						<input type="text" class="text-input" placeholder="请输入手机号"/>
					</div>
					<div class="submit-bnt">在线报名</div>
				</div>
			</div>
			<div class="footer-box ">
				<div class="inner clearfix">
				<div class="f-box-1 left">
					<div class="f-title">客服热线</div>
					<div class="phone-box" th:utext="${contact}">400-9973-993</div>
					<div class="phone-time" th:utext="${workTime}">周一至每周日08:30-22:30</div>
				</div>
				<div class="f-box-2 left">
					<div class="f-title">关于儒艺</div>
					<div class="f-nav">
						<a href="about.html">关于我们</a>
						<a href="meishu.html">少儿美术</a>
						<a href="index.html#f1">关于儒艺</a>
						<a href="yikao.html">统招艺考</a>
						<a href="index.html#f2">儒艺优势</a>
						<a href="liuxue.html">出国留学</a>
						<a href="index.html#f3">儒艺战绩</a>
						<a href="yikao.html">陶瓷艺术</a>
						<a href="index.html#f4">儒艺名师</a>
					</div>
				</div>
				<div class="f-box-3 left">
					<div class="f-title">联系我们</div>
					<div class="address-box">
						<p>主教学区：北京市房山区良乡东路华学书院  （大学城隔壁）</p>
						<p>一校区：北京市海淀区农大南路树村郊野公园16号院 （距离北大、清华、5公里）</p>
						<p>二校区：北京市大兴区芦花路临22号董陶窑陶瓷制作研究所 </p>
					</div>
					<div class="wx-box clearfix">
						<a href="contact.html"><div class="item-box" >儒艺教育客服</div></a>
						<a href="contact.html"><div class="item-box" >专业课老师</div></a>
					</div>
				</div>
				</div>
			</div>
			<div class="copy-right" th:utext="${copyRight}">版权信息版权信息版权信息版权信息版权信息版权信息</div>
		</div>
        <!--footer end-->

	</body>
	<script type="text/javascript" src="js/jquery.min.js" ></script>
    <script src="js/lightslider.js"></script>
    <script type="text/javascript">
    $(function(){

		$("#ms_three").lightSlider({item:1,slideMove:1,loop:true,auto:true,mode:'slide',pause:4000,slideMargin:0});
	})
    </script>
    <!--提交成功弹框-->
    <div class="tan_bm" style="display:none">
        <h2>报名成功</h2>
        <h6>稍后客服将会和您联系</h6>
        <p class="p_btn">
            <input type="button" class="btn quxiao" value="取消">
            <input type="button" class="btn btn_qd" value="确认">
        </p>
    </div>
    <script src="js/layer/layer.js"></script>
    <script type="text/javascript">
    $(function(){
        //弹框
        $(".btn_tj,.submit-bnt").click(function(){
            layer.open({
                type: 1,
                title: false,
                closeBtn: 0,
                area: ['auto', 'auto'],
                shade : [0.6 , '#000' , false],
                skin: 'layui-layer-nobg', //没有背景色
                shadeClose: false,
                closeBtn:0,
                content: $(".tan_bm")
            });
            return false;
        })
        $(".quxiao,.btn_qd").click(function(){
            layer.closeAll();
        })
    })
    </script>

    <script type="text/javascript" src="js/backend/common.js"></script>
    <script type="text/javascript" src="js/backend/registration.js"></script>
</html>
